.contact-container{
  display: grid;
  grid-template-columns: 550px auto;
}

.contact{
  height : 800px;
  background-color: white;
  color : black;
  overflow-y: scroll;
}

.form-container{
  display : grid;
  grid-template-rows: auto;
  margin-top: 40px;
  padding : 60px;
}

.chead{
  float: left;
  font-size: 26px;
  color : #333;
  font-weight: 800;
}

.form{
  display: flex;
  margin-top: 80px;
}

.ip{
  width:450px;
  height: 30px;
  margin-bottom: 18px;
  border : 1px solid white;
  border-bottom : 1px solid #666;
  font-size: 13px;
  text-decoration: none;
  outline: 0;
}

.tb{
  width:450px;
  height: 100px;
  margin-bottom: 25px;
  border : 1px solid white;
  border-bottom : 1px solid #666;
  font-size: 13px;
  text-decoration: none;
  outline: 0;
  font-style: normal;
}
::placeholder{
  font-family: 'Manjari', sans-serif;
  color :#495057;
}

.btn{
  font-family: 'Manjari', sans-serif;
  height: 46px;
  padding: 10px;
  background-color: #333333;
  color : white;
  border : 2px solid white;
  text-decoration: none;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  float: left;
  letter-spacing: 1.5px;
  padding: 17px;

}
