.container{
  display: grid;
  grid-template-columns: 700px auto;
}

.item1{
   border:1px solid rgba(255, 255, 255, 0.4);
   transform: rotate(55deg);
   margin-top: 130px;
   margin-left:-300px;
   height:800px;
   width:820px;
}
.item2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  transform: rotate(55deg);
  margin-top: -400px;
  margin-left: -348px;
}

.item2a{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 486px;
  height : 540px;
  margin-top: 627px;
  margin-left: -170px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2a:hover{
  border:  15px solid rgba(255, 255, 255, 0.1);;
  width: 450px;
  height : 510px;
  margin-top: 627px;
  margin-left: -170px;
  cursor: pointer;
}

.item2a:hover .one{
  position: absolute;
  width: 100px;
  margin: 25px 0px 0px -33px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.item2b{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 430px;
  height : 540px;
  margin-top: 627px;
  margin-left: -102px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2b:hover{
  border:  15px solid rgba(255, 255, 255, 0.1);;
  width: 400px;
  height : 510px;
  margin-top: 627px;
  margin-left: -102px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2b:hover .two{
  position: absolute;
  width: 90px;
  margin: 25px 0px 0px 80px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}

.item2c{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 400px;
  height : 540px;
  margin-top: 627px;
  margin-left: -102px;
  cursor: pointer;
  transition: all 0.5s;
}
.item2c:hover{
  border:  15px solid rgba(255, 255, 255, 0.1);;
  width: 370px;
  height : 510px;
  margin-top: 627px;
  margin-left: -102px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2c:hover .two{
  position: absolute;
  width: 87px;
  margin: 25px 0px 0px 80px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}


.item2d{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 430px;
  height : 550px;
  margin-top: 75px;
  margin-left: -630px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2d:hover{
  border:  15px solid rgba(255, 255, 255, 0.1);;
  width: 400px;
  height : 520px;
  margin-top: 75px;
  margin-left: -630px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2d:hover .two{
  position: absolute;
  width: 87px;
  margin: 25px 0px 0px 80px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}


.Resume{
  transform : rotate(-55deg);
  margin-top: 350px;
  margin-left : 290px;
}

.Portfolio,.Skills,.Contact{
  transform : rotate(-55deg);
  margin-top : 250px;
}

.deco{
  text-decoration: none;
  outline : 0;
  color : #fff;
}

.deco:focus{
  text-decoration: none;
  outline : 0;
}

.deco:visited{
  text-decoration: none;
  outline : 0;
}

.one{
  position: absolute;
  width: 100px;
  margin: 0px 0px 0px -15px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.onep{
  margin: -20px 0px 0px -85px;
}

.two{
  position: absolute;
  width: 100px;
  margin: 0px 0px 0px 80px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.twop{
  margin: -20px 0px 0px -85px;
}

.Specs{
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
}


.hi{
  font-size: 30px;
  font-weight: 400;
  margin-left: -210px;
  margin-bottom: 5px;
}

.name{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-left: 200px;
}

.Desig{
  font-size: 30px;
  font-weight: 400;
  margin: 5px;
  margin-left: -30px;
}
