.container{
  display: grid;
  grid-template-columns: 700px auto;
}

.item1{
   border:2px solid black;
   transform: rotate(55deg);
   margin-top: 130px;
   margin-left:-300px;
   height:800px;
   width:800px;
}
.item2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  transform: rotate(55deg);
  margin-top: -400px;
  margin-left: -348px;
}

.item2a{
  border:2px solid black;
  width: 486px;
  height : 540px;
  margin-top: 626px;
  margin-left: -170px;
}

.item2b{
  border:2px solid black;
  width: 430px;
  height : 540px;
  margin-top: 626px;
  margin-left: -92px;
}

.item2c{
  border:2px solid black;
  width: 400px;
  height : 540px;
  margin-top: 626px;
  margin-left: -92px;
}

.item2d{
  border:2px solid black;
  width: 430px;
  height : 550px;
  margin-top: 73px;
  margin-left: -630px;

}
