.container{
  display: grid;
  grid-template-columns: 700px auto;
}

.item1{
   border:1px solid rgba(255, 255, 255, 0.4);
   transform: rotate(55deg);
   margin-top: 120px;
   margin-left:-300px;
   height:800px;
   width:800px;
}
.item2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  transform: rotate(55deg);
  margin-top: -488px;
  margin-left: -348px;
}

.item2a{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 450px;
  height : 540px;
  margin-top: 627px;
  margin-left: -170px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2a:hover{
  border:  13px solid rgba(255, 255, 255, 0.1);;
  width: 412px;
  height : 512px;
  margin-top: 630px;
  margin-left: -168px;
  cursor: pointer;
}

.item2a:hover .one{
  position: absolute;
  width: 85px;
  margin: 23px 0px 0px -40px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.item2b{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 398px;
  height : 500px;
  margin-top: 667px;
  margin-left: -52px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2b:hover{
  border:  14px solid rgba(255, 255, 255, 0.1);;
  width: 362px;
  height : 475px;
  margin-top: 667px;
  margin-left: -52px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2b:hover .two{
  position: absolute;
  width: 80px;
  margin: 25px 0px 0px 76px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}

.item2c{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 400px;
  height : 500px;
  margin-top: 667px;
  margin-left: -52px;
  cursor: pointer;
  transition: all 0.5s;
}
.item2c:hover{
  border:  13px solid rgba(255, 255, 255, 0.1);;
  width: 372px;
  height : 476px;
  margin-top: 667px;
  margin-left: -52px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2c:hover .three{
  position: absolute;
  width: 87px;
  margin: 25px 0px 0px 95px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}


.item2d{
  border:1px solid rgba(255, 255, 255, 0.4);
  width: 400px;
  height : 500px;
  margin-top: 165px;
  margin-left: -590px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2d:hover{
  border:  13px solid rgba(255, 255, 255, 0.1);
  width: 402px;
  height : 475px;
  margin-top: 165px;
  margin-left: -590px;
  cursor: pointer;
  transition: all 0.5s;
}

.item2d:hover .three{
  position: absolute;
  width: 87px;
  margin: 25px 0px 0px 95px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}


.Resume{
  transform : rotate(-55deg);
  margin-top: 370px;
  margin-left : 290px;
}

.Portfolio,.Skills,.Contact{
  transform : rotate(-55deg);
  margin-top : 260px;
}

.deco{
  text-decoration: none;
  outline : 0;
  color : #fff;
}

.deco:focus{
  text-decoration: none;
  outline : 0;
}

.deco:visited{
  text-decoration: none;
  outline : 0;
}

.one{
  position: absolute;
  width: 85px;
  margin: 0px 0px 0px -15px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.onep{
  margin: -20px 0px 0px -70px;
  font-size: 13px;
}

.two{
  position: absolute;
  width: 96px;
  margin: 0px 0px 0px 80px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.twop{
  margin: -20px 0px 0px -75px;
  font-size: 13px;
}

.three{
  position: absolute;
  width: 96px;
  margin: 0px 0px 0px 100px;
  font-size: 16px;
  font-weight: 700;
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}

.Specs{
  font-size: 27px;
  font-weight: 600;
  padding: 5px;
}
