.Infos{
  margin-top: 410px;
}

.his{
  font-size: 30px;
  font-weight: 400;
  margin-left: -435px;
  margin-bottom: 5px;
}

.names{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-left: -20px;
}

.Desigs{
  font-size: 30px;
  font-weight: 400;
  margin: 5px;
  margin-left: -240px;
}

table.socials{
  margin-left: 5px;
  margin-top: 40px;
}
