.Infos{
  margin-top: 410px;
}

.his{
  font-size: 25px;
  font-weight: 400;
  margin-left: -450px;
  margin-bottom: 5px;
}

.names{
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  margin-left: -80px;
}

.Desigs{
  font-size: 28px;
  font-weight: 400;
  margin: 5px;
  margin-left: -243px;
}

table.socials{
  margin-left: 2px;
  margin-top: 35px;
}
