
.hi{
  font-size: 25px;
  font-weight: 400;
  margin-left: -200px;
  margin-bottom: 5px;
}

.name{
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  margin-left: 170px;
}

.Desig{
  font-size: 28px;
  font-weight: 400;
  margin: 5px;
  margin-left: 12px;
}

.resume{

}

table.social{
  margin-left: 390px;
  margin-top: 30px;
  transform: rotate(-55deg);
}

.logo{
  font-size: 23px;
  padding: 0px 8px 0px  8px;
  cursor: pointer;
  transition: all 0.5s;
}

.logo:hover{
  font-size: 20px;
  padding: 0px 10px 0px  10px;
  cursor: pointer;
}
a{
  color : white;
  text-decoration: none;
}
