nav{
  display : flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  background-color: #1B242F;
  color : black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10 !important;
  border-bottom : 3px solid #04C2C9;
}

li{
  list-style-type: none;
}

.nav-links{
  width:30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  float:right;
  margin : 0px;
  margin-right: 50px;
}

.nav-links2{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding : 0;
  margin : 40px 50px 0px 0px;
}

.nav-a{
  margin: 6px;
  font-size: 16px;
  color : white;
}

.nav-b{
  margin: 6px;
  font-size: 16px;
  font-weight: 500;
  color : #727272;
}

.nav-c{
  margin: 6px;
  font-size: 16px;
  color : #727272;
}

.nav-b:hover{
  margin: 6px;
  font-size: 16px;
  color : #444;
}


.nav-a:hover{
  margin: 6px;
  font-size: 16px;
  color : #ccc;
}
