.Portfolio-container{
  display: grid;
  grid-template-columns: 550px auto;
}

.start{
  display : grid;
  grid-template-rows: auto;
  margin-top: 40px;
  padding : 60px;
  margin-bottom: 50px;
}

.pointer{
  cursor: pointer;
}

.main-pills{
  margin-top: 30px;
}

/* all container */
.all{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
}

.all > div {
  align-items: center;
}

.small{
  height: 150px;
  width : 250px;
}

.small:hover{
  height: 150px;
  width : 250px;

  cursor: pointer;
}
