.Portfolio-container{
  display: grid;
  grid-template-columns: 550px auto;
}

.start{
  display : grid;
  grid-template-rows: auto;
  margin-top: 40px;
  padding : 60px;
  margin-bottom: 50px;
}

.pointer{
  cursor: pointer;
}

.main-pills{
  margin-top: 30px;
}

/* all container */
.all{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
}

.all > div {
  align-items: center;
}


.image-container{
    position: relative;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border:1px solid #f3f8fa;
  }

  .port-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 10px;
    border:1px solid #f3f8fa;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .image-container:hover .port-image {
    opacity: 0.3;

  }

  .image-container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #0a165c;
    color: white;
    font-size: 12px;
    padding: 16px 32px;
    border-radius:35px;
    border:2px solid  #1a265c;
  }
