.skill-container{
  display: grid;
  grid-template-columns: 550px auto;
}

.skills{
  height : 900px;
  background-color: white;
  color : black;
}

.about-container{
  display : grid;
  grid-template-rows: auto;
  margin-top: 40px;
  padding : 60px;
}

.head{
  float: left;
  font-size: 26px;
  color : #333;
  font-weight: 800;
}

.about-head{
  border-bottom: 1px solid #ddd;
  height: 75px;
}

.details-1{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.icon{
  font-size: 50px;
  height : 60px;
  width : 60px;
  background-color: #04C2C9;
  color : white;
  padding: 10px;
  border: 1px solid #04C2C9;
  border-radius: 100px;
}

.icon-head{
  color: #616161;
  font-size: 20px;
  font-weight: 600;
}
