.skill-container{
  display: grid;
  grid-template-columns: 550px auto;
}

.skills{
  height : 900px;
  background-color: white;
  color : black;
}

.about-container{
  display : grid;
  grid-template-rows: auto;
  margin-top: 40px;
  padding : 60px;
}

.head{
  float: left;
  font-size: 26px;
  color : #333;
  font-weight: 800;
}

.about-head{
  border-bottom: 1px solid #ddd;
  height: 75px;
}
